<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>귀책</th>
        <th>VOC내용</th>
        <th>판매가</th>
        <th>제조원가</th>
        <th>배송비</th>
        <th>배상비용</th>
        <th>접수날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="voc : ${vocList}">
        <td th:text="${voc.id}"></td>
        <td th:text="${voc.vocResponsibility}"></td>
        <td th:text="${voc.vocNote}"></td>
        <td th:text="${voc.sellerCost}"></td>
        <td th:text="${voc.manufacturingCost}"></td>
        <td th:text="${voc.deliveryCost}"></td>
        <td th:text="${voc.compensateExpense}"></td>
        <td th:text="${voc.createDate}"></td>
      </tr>
      </tbody> </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>